node_modules/
/test-results/
/blob-report/
/playwright/.cache/
allure-results
tests/datePickerValidation.spec
tests/DBsetUp.setup
tests/DBVerification.spec
tests//fixtures.spec
tests/homePageValidation.spec
tests/test.spec
tests/uiComponents.checkBox.spec
tests/uiComponents.inputField.spec
tests/uiComponents.listsAndDropdown.spec