node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
allure-results
/datePickerValidation.spec/
/DBsetUp.setup/
/DBVerification.spec/
/fixtures.spec/
/homePageValidation.spec/
/test.spec/
/uiComponents.checkBox.spec/
/uiComponents.inputField.spec/
/uiComponents.listsAndDropdown.spec/